.main {
    margin-top: 300px;
}
.cart-card {
  display: flex;
  gap: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
}

.cart-card-img {
  width: 150px;
  height: auto;
  border-radius: 10px;
}

.cart-card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-card-title {
  font-size: 20px;
  font-weight: 600;
}

.cart-card-desc {
  font-size: 14px;
  color: #666;
  margin: 10px 0;
}

.cart-card-price {
  font-size: 16px;
  font-weight: 500;
}

.empty-cart-message {
  font-size: 18px;
  padding: 40px;
  text-align: center;
}
.clear-cart-btn {
  display: block;
  margin: 30px auto;
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition:  0.3s ease;
}
.clear-cart-btn:hover {
  background-color: #333;
}


